<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../cars/static/css/style.css">
</head>
<body>
    {% extends 'base.html' %}

{% block title %}Список автомобилей{% endblock %}

{% block content %}
  <h1 class="mb-4">Автомобили в наличии</h1>
  
  <form method="get" class="row g-3 mb-4 filters">
    <div class="col-md-4">
      <input type="text" class="form-control" name="search" placeholder="Поиск по марке/модели" 
            value="{{ filter_values.search|default:'' }}">
    </div>
    
    <div class="col-md-2">
      <input type="number" class="form-control" name="min_price" placeholder="Цена от" 
            value="{{ filter_values.min_price|default:'' }}">
    </div>
    
    <div class="col-md-2">
      <input type="number" class="form-control" name="max_price" placeholder="Цена до" 
            value="{{ filter_values.max_price|default:'' }}">
    </div>
    
    <div class="col-md-2">
      <input type="number" class="form-control" name="year" placeholder="Год выпуска" 
            value="{{ filter_values.year|default:'' }}">
    </div>
    
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Применить</button>
      <a href="?" class="btn btn-outline-secondary">Сбросить</a>
    </div>
  </form>

  <div class="row">
    {% for car in page_obj %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'car-detail' car.car_id %}">
              {{ car.brand }} {{ car.model }}
            </a>
          </h5>
          <p class="card-text">
            <strong>Цена:</strong> {{ car.price }} руб.<br>
            <strong>Год:</strong> {{ car.production_year }}<br>
            <strong>Двигатель:</strong> {{ car.engine_volume }} л / {{ car.power }} л.с.<br>
            <strong>Коробка:</strong> {{ car.get_transmission_display }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'includes/pagination.html' %}
{% endblock %}
</body>
</html>